# gradle

.gradle/
build/
out/
classes/

# design assets
assets/
resources/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
/logs/
/minecraft/
/minecraft/*
/minepkg-lock.toml

# temp build logs
build*.txt
build_output*.txt
